Use this worksheet to gather vacation tweets from Twitter and store them in MySQL.  After executing cell 4, make sure to wait 15 minutes before executing the remaining cells so that you don't exceed the Twitter API limits.

In [ ]:
from twython import Twython
import pandas as pd
import re
import datetime
import matplotlib as plt
from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists, create_database

from mysql_login_info import sql_username, sql_password
from twitter_keys import APP_KEY, APP_SECRET, OAUTH_TOKEN, OAUTH_TOKEN_SECRET

In [ ]:
# Twitter authentication

twitter = Twython(APP_KEY, APP_SECRET,
                  OAUTH_TOKEN, OAUTH_TOKEN_SECRET)

In [ ]:
# Import a list of vacation destinations

destinations=[]
df_destinations=pd.read_csv('vacation_destinations.txt', header=None, names=['Destination'])
destinations = df_destinations['Destination'].values.tolist()

In [ ]:
# Search Twitter for "vacation "X""
# see https://dev.twitter.com/rest/reference/get/search/tweets

# count=100 is the maximum allowed amount
# 180 queries of this type are allowed per 15 minutes

queries_per_destination = 8

# Search the first 20 destinations
destination_results={}
for destination in destinations[:20]:
    destination_results[destination]=[]
    destination_results[destination].append(twitter.search(q='vacation "'+destination+'"', lang='en', count=100, result_type='recent'))
    for i in range(1,queries_per_destination):
        if len(destination_results[destination][i-1]['statuses']) < 100:
            break
        max_id=min([status['id'] for status in destination_results[destination][i-1]['statuses']])-1
        destination_results[destination].append(twitter.search(q='vacation '+destination, lang='en', count=100, result_type='recent', max_id=max_id))

print datetime.datetime.today().__str__()

In [ ]:
# Search the next 20 destinations.
# wait 15 minutes to do this so as not
# to exceed Twitter API limit
for destination in destinations[20:]:
    destination_results[destination]=[]
    destination_results[destination].append(twitter.search(q='vacation "'+destination+'"', lang='en', count=100, result_type='recent'))
    for i in range(1,queries_per_destination):
        if len(destination_results[destination][i-1]['statuses']) < 100:
            break
        max_id=min([status['id'] for status in destination_results[destination][i-1]['statuses']])-1
        destination_results[destination].append(twitter.search(q='vacation '+destination, lang='en', count=100, result_type='recent', max_id=max_id))
        
print datetime.datetime.today().__str__()

In [ ]:
# Organize the results in preparation for putting them in a
# pandas dataframe.
# Use regex to find the first name of each user

destinations_col = []
names_col = []
first_names_col = []
locations_col = []
texts_col = []
screen_names_col = []
ids_col = []
times_col = []
descriptions_col = []
statuses_cnt_col = []

for destination in destinations:
    for result in destination_results[destination]:
        for status in result['statuses']:
            destinations_col.append(destination)
            screen_names_col.append(status['user']['screen_name'])
            name = status['user']['name']
            names_col.append(name)
            match = re.search('^\w[a-z]*', name)
            if match:
                first_names_col.append(match.group())
            else:
                first_names_col.append(None)
            locations_col.append(status['user']['location'])
            texts_col.append(status['text'])
            ids_col.append(status['id']) # or use ['id_str']
            times_col.append(status['created_at'])
            descriptions_col.append(status['user']['description'])
            statuses_cnt_col.append(status['user']['statuses_count'])

In [ ]:
# Put the results in a Pandas dataframe  
df_tweets = pd.DataFrame({
        'Destination': destinations_col,
        'Screen Name': screen_names_col,
        'Full Name': names_col,
        'First Name': first_names_col,
        'Home Location': locations_col, # Relabel this in later cells
        'Tweet': texts_col,
        'Tweet ID': ids_col,
        'Time': times_col,
        'Description': descriptions_col,
        'Status Count': statuses_cnt_col
    })

# Change the character encoding to utf-8.  Maybe use ascii instead?
for col in df_tweets.columns.values:
    if df_tweets[col].dtype=='object':
        df_tweets[col]=df_tweets[col].str.encode('utf-8', errors='ignore')

In [ ]:
# connect to my local mySQL server and open the vacation database
engine = create_engine('mysql+mysqldb://'+sql_username+':'+sql_password+'@127.0.0.1:3306/vacation', echo=False)

In [ ]:
# Save the data on my mySQL server
# copy the pandas dataframe data into the 'vacation_tweets' table on MySQL

df_tweets.to_sql('vacation_tweets', engine, if_exists='replace', index=False)

In [ ]:
# Import a list of baby names and put it on my MySQL server

df_names = pd.read_csv('baby-names2.csv', usecols=['name'])
df_names = df_names.drop_duplicates(['name'])
print len(df_names.index), 'baby names names imported'

# Save the data on my mySQL server
df_names.to_sql('baby_names', engine, if_exists='replace', index=False)

In [ ]:
# Filter out tweets from users with with names not in the baby names list.
# This is to filter out tweets from advertisers and travel agencies.

has_name = df_tweets[df_tweets['First Name'].isin(df_names.index)].groupby(['Destination']).size()
df_tweets_has_name = df_tweets[df_tweets['First Name'].isin(df_names.index)]

In [ ]:
# Copy the pandas dataframe data into the 'vacation_tweets_w_name' table
# in MySQL

df_tweets_has_name.to_sql('vacation_tweets_w_name', engine, if_exists='replace', index=False)